@* @inherits LayoutComponentBase*@
@page "/AIGeneration"

<div class="aigeneration-container">
    <form class="form" action="submit">
        <div class="aigeneration">
            <div class="cloudTextBox">
                <textarea name="text" type="text" class="robot-input" cols="40" rows="5" placeholder=">>> I hate frontend..."></textarea>
            </div>
            <div class="cloud-container">
                <div class="cloud"></div>
            </div>
            <div class="cloud-container1">
                <div class="cloud"></div>
            </div>
            <div class="cloud-container2">
                <div class="cloud"></div>
            </div>
        </div>
        <div class="submitlink">
            <div class="nobox">
                <div>
                    <NavLink href="/">
                        <span class="hoverOwn">Generate </span>
                    </NavLink>
                </div><br />
            </div>
        </div>
    </form> 
</div>

