@page "/"
<PageTitle>Index</PageTitle>

<div>
    <div>
        <div id="resultArr" class="box">
            <div>
                WordCloud by Wosełko
            </div><br />
        </div>
        <div class="nobox">
            <div>
                <NavLink class="nav-link" href="CreateWordCloud">
                    <span class="hoverOwn">Create WordCloud</span>
                </NavLink>
            </div><br />
            <div>
                <NavLink class="nav-link" href="AIGeneration">
                    <span class="hoverOwn">AI Generation</span>
                </NavLink>
            </div><br />
            <div>
                <NavLink class="nav-link" href="About">
                    <span class="hoverOwn">About</span>
                </NavLink>
            </div><br />
            <div>
                <NavLink class="nav-link" href="OtherProducts">
                    <span class="hoverOwn">Check other products</span>
                </NavLink>
            </div><br />
        </div>
    </div>
</div>
